<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Home page for ucsb-cs56-webapps-catalog</h1>
 <p>
 This webapp will eventually provide an easy way to access all of the information
 about the various webapps students are working on for UCSB-CS56.
 </p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
