<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>List webapps</h1>
 <p>
   This page will eventually provide a list of all the webapps, and it will
   be populated by automatically pulling the info from github. For now, here is a hard-coded
   list of the webapps.
 </p>
 <ul>
   <li>DogWalker</li>
   <li>ScrapsToSnacks</li>
   <li>etc.  fill this in later</li>
 </ul>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
